* {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
}

.header {
    margin-bottom: 2rem;
    margin-top: 12%;
}

ul {
    list-style: none;
}

li {
    margin: 10px;
    padding: 10px;
    background-color: gainsboro;
}

#suggestion_list1 {
    display: none;
}

#suggestion_list2 {
    display: none;
}

.p-1 {
    padding: 10px;
}

.form-control input {
    width: 60%;
    text-align: left;
    height: 2rem;
}

form {
    margin-bottom: 2rem;
}

* {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px;
}

body {
    margin-top: 7%;
    margin-bottom: 2rem;
}

.form-control input,
.form-control select {
    width: 60%;
    text-align: left;
    height: 2rem;
}

.header {
    margin-bottom: 2rem;
    margin-top: 7%;
}

#suggestion_list {
    display: none;
}

